<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bibi.shipin">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <!--阿里短视频需要-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoTitle">
        <activity android:name=".ActivitySplash" android:theme="@style/Theme.beginBackground" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.HomeView" android:screenOrientation="portrait" android:label="主页"/>
        <activity android:name=".record.RecordView" android:screenOrientation="portrait" android:label="录制页"/>
        <activity android:name=".player.VideoPlayerView" android:screenOrientation="portrait" android:label="播放页"/>
        <activity android:name=".login.LoginChoiceView" android:screenOrientation="portrait" android:label="登录注册选择页"/>
        <activity android:name=".login.LoginView" android:screenOrientation="portrait" android:label="登录页"/>
        <activity android:name=".mine.MyCollectionView" android:screenOrientation="portrait" android:label="我的收藏"/>
        <activity android:name=".mine.MyFansAndAttentionsView" android:screenOrientation="portrait" android:label="我的粉丝/我的关注"/>
        <activity android:name=".home.SomebodyHomePageView" android:screenOrientation="portrait" android:label="某人的主页"/>
        <activity android:name=".mine.SettingView" android:screenOrientation="portrait" android:label="设置"/>
        <activity android:name=".mine.SettingSecondView" android:screenOrientation="portrait" android:label="设置二级页"/>
        <activity android:name=".mine.SettingThirdView" android:screenOrientation="portrait" android:label="设置三级页"/>
    </application>

</manifest>